@media screen and (max-width: 992px) {
    .container {
        max-width: 100%!important;
    }
    .carousel-item {
        height: auto !important;
    }
    .about .box {
        position: relative;
        left: unset !important;
        top: unset !important;
    }
    .screenshot {
        height: 390px;
        border: 0;
    }
    #navbarSupportedContent {
        background: #090e47;
        color: white;
        width: calc(100% + 30px);
        position: absolute;
        left: -15px;
        top: 100%;
        right: 0;
    }
    #navbarSupportedContent ul li a {
        color: white;
    }
    #navbarSupportedContent ul li {
        padding: 6px 15px;
    }
    .get-started {
        display: inline-block;
        border: none;
        color: white;
        padding: 0;
        margin-left: 15px;
        margin-bottom: 20px;
        margin-top: 13px;
    }
    footer ul li a {
        font-size: 14px;
    }
    .title {
        margin-top: 28px;
    }
}

@media screen and (max-width: 767px) {
    .ios-services .abs-img {
        position: relative;
        left: unset;
        right: unset;
        display: block;
        overflow: visible;
        width: auto;
        max-width: 100%;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .more-services {
        position: relative;
        background: #f2f3f5;
    }
    .more-srvices-box {
        padding: 60px 30px;
    }
    .feature-content .row .col-md-6:nth-child(3),
    .feature-content .row .col-md-6:nth-child(4) {
        border-bottom: 1px solid hsla(0, 0%, 82.7%, 0.79);
    }
    .banner .carousel-control-next,
    .banner .carousel-control-prev {
        width: 70px;
        height: 450px;
    }
    .cirfle {
        width: 60px;
        height: 60px;
        padding: 15px;
        border-radius: 4px;
        cursor: pointer;
    }
    .banner {
        padding-top: 110px;
        height: auto !important;
    }
    .about .box {
        flex: 0 0 300px;
        max-width: 300px;
        margin: 21px auto;
        height: 230px;
    }
}

@media screen and (max-width: 576px) {
    .blogs h1 {
        font-size: 50px;
    }
    .blogs:before {
        height: 30%;
    }
    .blog-card figure {
        max-width: 100%;
    }
    .blog-card figure img {
        width: 100%;
    }
}